name: Spring Boot CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    outputs:
      jar-path: ${{ steps.package.outputs.jar-path }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 24
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 24

      - name: Build with Maven
        run: mvn clean package -DskipTests=false

      - name: Run tests
        run: mvn test

      - name: Save build artifact
        id: package
        run: echo "jar-path=target/springboot-jwt-graphql-0.0.1-SNAPSHOT.jar" >> $GITHUB_OUTPUT
        # This passes the path to the next job

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: springboot-jar
          path: ${{ steps.package.outputs.jar-path }}

  docker-build:
    runs-on: ubuntu-latest
    needs: build-and-test

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: springboot-jar
          path: ./target

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t rexhin/springboot-jwt-graphql:latest .

      - name: Push Docker image
        run: docker push rexhin/springboot-jwt-graphql:latest